@import 'bootstrap-icons';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --val: 0;
}


[x-cloak] {
    display: none;
}

.no-scroll::-webkit-scrollbar {
    width: 0;
}

.show-on-hover:hover .target {
    display: block;
}
